@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* global */
  --color-background-body: #f7f7f7;
  --color-background-header-footer: #e2e2e2;

  /* main */
  --bg-main: #f7f7f7;

  /* footer */
  --primary: #000;
  --primary-dark: #fff;
  --primary-darker: #317F5A;
  --headline-color: #5233ff;
  --text-color: #7E7E7E;
  --secondary: #2E2E2E;
  --footer-border: #3E3E3E;
  --gray-border-hover: #505050;
  --gray-menu-button: #7E7E7E;
  --gray-menu-button-hover: #232323;
  --navbar-height: 64px;
  --gray-text-hover: #8F8F8F;
  --gray-icon: #A0A0A0;
  --footer-width: 64rem;
}

/* ** */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 22px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 30px;
}

#myBtn:hover {
  background-color: #555;
}

.search {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.search input[type="text"] {
  width: 470px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search input[type="text"]:focus {
  box-shadow: 0 0 10px #4e99e9;
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  transition: .9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  background-color: white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.info-not-exists {
  color: red;
  font-style: italic;
}

.hidden {
  display: none;
}

/* Header */

.position_header_navigation {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
}

.nav-bar ul,
.contenedor-botones-header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-bar li>.nav-links {
  padding: 10px 12px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  width: auto;
  max-width: 100%;
}

.nav-bar li>.nav-links:hover {
  border: 1px solid #c0bfcc;
  border-radius: 8px;
  background-color: #d3d3d3;
}

.nav-bar,
.contenedor-botones-header {
  gap: 10px;
}

/* MAIN */

/* Estilos para la ventana emergente */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(130, 96, 255, 0.5);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 67%;
  border-radius: 15px;
}

.header-modal-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #888;
  padding: 15px 5px;
  border-radius: 10px;
}

.seccion-btn-modal {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.btn-modal-header {
  border: none;
  background-color: #131313;
  padding: 10px 18px;
  color: #fff;
  font-size: 18px;
}

.btn-modal-header:hover, .btn-modal-header:focus {
  cursor: pointer;
  background-color: #292929;
}

.boton-atras{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.boton-avanzar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contenedor-botones-cerrar-link {
  max-width: 150px;
  width: 100%;
  justify-content: space-between;
}

.boton-link-modal {
  padding: 10px 18px;
  background-color: rgb(25, 0, 255);
  color: #fff;
  border-radius: 10px;
  font-weight: 800;
}

.boton-link-modal:hover, .boton-link-modal:focus {
  cursor: pointer;
  background-color: #0076ca;
}

.cerrar {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: #131313;
  padding: 0 10px;
  border-radius: 10px;
}

.cerrar:hover,
.cerrar:focus {
  background-color: #292929;
  text-decoration: none;
  cursor: pointer;
}

.main-modal {
  display: flex;
  border: 1px solid #888;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
}

.section-articulo {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.title-text-article {
  font-size: 35px;
}

blockquote {
  border-left: 3px solid blueviolet;
  margin: 15px 0;
}

blockquote p {
  margin-left: 5px;
}

.img-modal-content img {
  max-width: 500px;
}

.contenedor-botones-modal {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 10px;
}

.article-separator {
  border: none;
  width: 1px;
  background: #888;
  margin: 0 20px;
  display: inline-block;
}

/* ? banners */

/* ? items */
.sct-articles-i {
  padding: 24px 12px;
}

.contenedor-articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 50px;
}

.items {
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  width: calc(20% - 10px);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0 0.8rem 1.4rem 0.8rem;
  transition: border .2s ease-in-out;

  display: flex;
  flex-direction: column;
}

.items:hover{
  border: 1px solid #a3a3a3;
}

.c-it-img-info {
  margin: 20px 0px;
  min-height: 350px;
  overflow: hidden;
}

.title-article {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

.title-desc {
  text-align: start;
}

.info-art {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.size-info-art {
  font-size: 14px;
}

.content-hash {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: auto;
  gap: 10px;
  margin: 5px 0;
}

.hashtag {
  text-align: start;
  border: 1px solid #757575;
  color: #131313;
  border-radius: 7px;
  display: inline-block;
  padding: 2px;
}

.art-span {
  display: flex;
  flex-direction: row;
}

.c-img-art {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-img-art img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.c-it-btn-more{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.c-it-btn-more-modal {
  justify-content: space-between;
}

.btn-link {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border .2s ease-in-out;
}

.btn-more {
  background-color: #0fe782;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.btn-more:hover{
  border: 1px solid #317F5A;
} 

.btn-more > i{
  color: rgb(16, 54, 16);
  font-size: 18px;
  margin: 0 5px;
}

.bookmark-btn-modal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
  background-color: rgb(255, 213, 184);
}

.bookmark-btn-modal:hover{
  border: 1px solid orangered
}

.bookmark-btn-modal > i {
  margin: 0 5px;
  color: rgb(255, 81, 0);
}

.btn-likes {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(255, 174, 174);
}

.btn-likes:hover{
  border: 1px solid red;
}

.btn-likes > i{
  color: red;
}

.contenedor-acciones-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.contenedor-acciones-botones > button {
  margin-right: 5px;
}

.btn-likes-comment, .btn-dislikes-comment {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-likes-comment {
  background-color: rgb(157, 255, 157);
}

.btn-likes-comment:hover{
  border: 1px solid green;
}

.btn-likes-comment > i {
  color: green;
}

.btn-dislikes-comment{
  background-color: rgb(255, 125, 125);
}

.btn-dislikes-comment:hover{
  border: 1px solid red;
}

.btn-dislikes-comment>i{
  color: red;
}

.btn-comments {
  background-color: rgb(172, 203, 226);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
}

.btn-comments:hover{
  border: 1px solid blue;
}

.btn-comments > i {
  color: blue;
  font-size: 18px;
  margin: 0 5px;
}

.article-comments h4 {
  text-align: left;
  margin: 15px 0 8px 0;
  font-size: 17px;
}

.formulario-comentario {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.input-comentario {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 5px;
  border: 1px solid blueviolet;
  background-color: #ececec;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  height: 100px;
  resize: vertical;
}

.btn-agregar-comentario {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  width: 15%;
  padding: 13px 5px;
  transition:all .3s ease-in-out;
}

.btn-agregar-comentario:hover {
  background-color:gold;
  color: #000;
  box-shadow: 1px 1px 2vmax gold;
}

.comentarios-lista-contenedor {
  text-align: left;
  padding: 15px 5px;
  border: 1px solid #888;
  border-radius: 10px;
  margin: 10px 0;
}

.contenedor-info-profile-user {
  display: flex;
  margin-bottom: 15px;
}

.contenedor-image-profile-and-username {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contenedor-data-username {
  display: flex;
  flex-direction: column;
}

.contenedor-data-username .name-profile {
  font-weight: 800;
}

.img-profile-comment {
  border: 1px solid #3E3E3E;
}

.contenedor-redes-sociales-modal {
  width: 350px;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 5px;
}

.info-iconos-redes-sociales {
  margin: 10px 0;
}

.btn-redes-sociales-modal {
  padding: 9px 12px;
  margin: 5px;
  font-size: 26px;
  border-radius: 50px;
  border: 1px solid transparent;
}

.btn-redes-sociales-modal:hover{
  border: 1px solid #d3d3d3;
}

.btn-redes-sociales {

}

/* fin estilos para el modal */

.btn-ver-mas {
  padding: 17px 40px;
  margin: 35px 0;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btn-ver-mas:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-ver-mas:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* SECCION DE "SOBRE EL DEV" */
#sct-welcome {
  display: flex;
  height: 115vh;
  background: -webkit-linear-gradient(90deg, #76009b,#0076ca,#3aa4ad);
  background: linear-gradient(90deg, #76009b,#0076ca,#3aa4ad);
}

#sct-welcome .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

#sct-welcome .item-dev {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sct-welcome .item-dev>img {
  margin: 50px 0;
  max-width: 50%;
}

#sct-welcome .div-text-welcome {
  color: #e2e2e2;
  width: 60%;
  text-align: justify;
}

#sct-welcome .div-text-welcome p {
  margin-bottom: 15px;
}

.boton-icon {
  margin-top: 25px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 3vmax transparent;
  transition: box-shadow .2s ease-in-out;
  text-transform: uppercase;
}

.boton-icon:hover {
  box-shadow: 0 0 3vmax #ffffff;
}

.boton-icon:hover .icon {
  transform: translateX(5px);
}

.icon {
  transition: transform 0.3s ease;
}

/* FOOTER */

footer {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

*::selection {
  background: var(--primary);
  color: var(--primary-dark);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--footer-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

/* columns with links */

.link-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  flex-grow: 1;
}

.link-columns>div {
  flex-grow: 1;
  display: flex;
  gap: 2rem;
}

.link-columns>div>section {
  min-width: 8rem;
  width: 50%;
}

.link-columns ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 600;
}

.link-columns ul a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link-columns ul a:hover {
  color: var(--headline-color);
}

.link-columns h3 {
  color: var(--headline-color);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

/*? red socials */
.link-socials {
  display: flex;
  justify-content: center;
  padding: 6rem 0px;
}

.links-icons-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 150px;
  margin: 0;
}

.a-link-red-socials>i{
  font-size: 35px;
}



/*? Footer bottom */
.footer-bottom {
  width: 100%;
  color: var(--text-color);
}

.footer-bottom-wrapper {
  max-width: var(--footer-width);
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 1rem;
  border-top: 1px solid var(--footer-border);
}

.footer-bottom small {
  font-size: 1rem;
  display: inline;
  white-space: nowrap;
}

.footer-bottom>small {
  font-size: 1rem;
  width: 100%
}

@media screen and (min-width: 600px) {
  .link-columns>div>section {
    min-width: auto;
  }
}
