@media screen and (max-width: 1500px){ 
    .search,
    .nav-bar {
        display: none;
    }

    .menu-bars {
        display: block;
        place-content: center;
    }

    .menu-bars>i {
        font-size: 30px;
    }

    main {
        display: block;
    }

    .items {
        width: 40%;
    }
}




@media screen and (max-width: 990px) {
    .items {
        width: 74%;
    }

    #sct-welcome {
        height: 190vh;
    }

    #sct-welcome .item-dev {
        gap: 20px;
        text-align: justify;
    }

    #sct-welcome .container {
        flex-direction: column-reverse;
    }

    #sct-welcome .div-text-welcome {
        width: 80%;
    }

        .link-socials {
            width: 60%;
            margin: 0 auto;
        }
    
        .links-icons-footer {
            flex-wrap: wrap;
            gap: 69px;
            flex-direction: row;
            justify-content: center;
        }
    
        .footer-bottom {
            text-align: center;
        }
}

@media screen and (max-width: 455px) {
    .items {
        box-shadow: none;
        width: 83%;
    }

    .boton-icon {
        margin: 50px 0px;
    }

    
}