@media screen and (max-width: 455px) {

    .search, .nav-bar {
        display: none;
    }

    .menu-bars {
        display: block;
        place-content: center;
    }

    .menu-bars > i{
        font-size: 30px;
    }

    main {
        display: block;
    }

    .items {
        box-shadow: none;
        width: 83%;
    }

    #sct-welcome {
        height: 128vh;
    }

    #sct-welcome .container {
        flex-direction: column-reverse;
    }

    #sct-welcome .item-dev {
        gap: 20px;
        text-align: justify;
    }

    #sct-welcome .div-text-welcome {
        width: 80%;
    }

    .boton-icon {
        margin: 50px 0px;
    }

    .link-socials{
        width: 60%;
        margin: 0 auto;
    }

    .links-icons-footer {
        flex-wrap: wrap;
        gap: 69px;
        flex-direction: row;
        justify-content: center;
    }

    .footer-bottom{ 
        text-align: center;
    }
}