@media screen and (max-width: 1074px){ 
    .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        background-color: var(--color-background-header-footer);
        height: 0;
        width: 100%;
        border-bottom: 1px solid #000;
        overflow: hidden;
        transform: translateY(0);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease;
        align-items: center;
        justify-content: center;
    }

    .nav-bar.is-active {
        height: 35vh;
        transform: translateY(0);
        opacity: 1;
    }

    .list-nav-link {
        flex-direction: column;
    }

    .menu-bars {
        background-color: transparent;
        display: block;
        place-content: center;
    }

    .menu-bars>i {
        font-size: 30px;
    }

    .search input[type="text"] {
        width: 155px;
    }

    main {
        display: block;
    }

    .items {
        width: 40%;
    }

    .modal {
        top: 59px;
    }

    .modal-contenido {
        width: 100%;
        padding: 25px 12px;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .header-modal-content {
        flex-wrap: nowrap;
    }

    .main-modal {
        display: block;
    }

    .img-modal-content img {
        max-width: 288px;
    }

    .contenedor-botones-modal {
        border: none;
        border-radius: 0px;
        padding: 0px;
    }

    .modal .c-it-btn-more {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: [left] 1fr [middle1] 1fr;
    }

    .btn-agregar-comentario{
        width: 100%;
    }

    .contenedor-redes-sociales-modal, .modal-right-sidebar {
        width: auto;
    }

    .btn-redes-sociales-modal {
        font-size: 37px;
    }

    #random-articles-contain{
        max-width: 235px;
    }

    #sct-welcome {
        height: auto;
    }
}




@media screen and (max-width: 990px) {
    .items {
        width: 74%;
    }

    #sct-welcome {
        /* height: 220vh; */
    }

    #sct-welcome .item-dev {
        gap: 20px;
        text-align: justify;
    }

    #sct-welcome .container {
        flex-direction: column-reverse;
    }

    #sct-welcome .div-text-welcome {
        width: 80%;
    }

        .link-socials {
            width: 60%;
            margin: 0 auto;
        }
    
        .links-icons-footer {
            flex-wrap: wrap;
            gap: 69px;
            flex-direction: row;
            justify-content: center;
        }
    
        .footer-bottom {
            text-align: center;
        }
}

@media screen and (max-width: 455px) {
    .items {
        box-shadow: none;
        width: 83%;
    }

    .boton-icon {
        margin: 50px 0px;
    }

    
}